@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Press+Start+2P&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply font-body text-violet-100 bg-zinc-900
}

body {
    @apply bg-zinc-900
}

p, span {
    z-index: 5;
}

::selection {
    @apply bg-violet-200
}

.highlight {
    @apply relative;
}
.highlight::after {
    content: "";
    @apply z-[-1] absolute inset-y-[-0.25rem] inset-x-[-0.6rem]
}
.animated-highlight {
    @apply highlight after:right-[calc(100%+0.6rem)] after:transition-all hover:after:right-[-0.6rem] after:ease-out after:duration-150;
}


.card-shadow {
    filter: drop-shadow(4px 4px theme("colors.violet.500"));
}